# ────────────────
# 🐍 Python cache & compiled files
# ────────────────
__pycache__/
*.pyc
*.pyo
*.pyd

# ────────────────
# 🔐 Entornos virtuales y variables sensibles
# ────────────────
.venv/
venv/
.env
.env.*
configs/
configs/.env

# ────────────────
# 🖼️ Multimedia y documentación interna
# ────────────────
media/
project_details/

# ────────────────
# 🧠 Archivos específicos de IDE y sistema
# ────────────────
.vscode/
.DS_Store
Thumbs.db

